<!-- {% assign has_multiple_variants = false %}
{% if products.variants.size > 1 %}
{% assign has_multiple_variants = true %}
{%endif%}

{% assign has_multiple_options = false %}
{% if products.options.size > 1 %}
{% assign has_multiple_options = true %}
{%endif%} -->




<form action="/cart/add" method="post" enctype="multipart/form-data">
            
    <!-- {% for option in product.options_with_values %}
       
    {% assign option_name = "option" | append: option.position %}
    {%assign radio_id = 'option-'| append: option_name | append: '-' | append: value | handleize %}
    <label for=""> {{ option.name }} </label>

        <div class="option-values">
            {% for value in option.values%}
            <input id="{{ radio_id }}" type="radio" name="{{ option_name }}" value="{{ value }}">
            <label for="{{ radio_id }}">{{ value }}</label>
            {% endfor %}
        </div>
    
    {% endfor %} -->
    
    
    <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{ variant.id }}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
        <input type="radio" value="{{ variant.id }}">
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out!</option>
        {% endif %}
        {% endfor %}
    </select>
    
    <input type="submit" name="add" id="add" value="Add to Cart" class="button">

    

</form>



