<div class="header">
   
    
    
   
  <div class="">
     
  <img class="logo" src=" {{ 'logo.svg' | asset_url }} " loading="lazy"  width="{{ image.width }}"height="{{ image.height }}" alt=""> 

  </div>
  
  
  
 

   

      
      
      
      <div class="head-link-list flex">
      {% for link in linklists.main-menu.links %}
      <a class="link-btn" href="{{ link.url }}"><p>{{ link.title }}</p></a>
      {% endfor %}
      </div>
  </div>

</div>
