<div class="cart">
  <!-- sections/my-cart.liquid -->

  <div class="exit-cart">
          <div class="block"></div> 
            <i class="fa-solid fa-xmark"></i>
            
  </div>
  
  <form  action="{{ routes.cart_url }}" method="post" class="my-cart">
      <!-- data-ajax-cart-section makes the element's HTML update
      when the cart gets changed -->
      <div class="cart-section" data-ajax-cart-section>
       
  
        <!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
        when the element's HTML is changed -->
        <div class="items">
          <div class="cart-items my-cart__items" data-ajax-cart-section-scroll>
            
            {% if cart.item_count > 0 %}
              {% for item in cart.items %}
                {% assign item_index = forloop.index %}
            
                <div class="cart-item">
                
                  
                    <img class="cart-image" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                    <div class="item-info">
                      <div class="cart-item-main">
                      <p class="label">Title:</p>
                                    <div><a href="{{ item.url }}"><p>{{ item.title }}</p></a></div>
                                    
                      {% for property in item.properties %}
                        <div>
                          {{ property.first }}:
                        </div>
                      {% endfor %}
                      <p class="label">Price:</p>
                      <div><p>{{ item.final_price | money }}</p></div>
                    
                  </div>
                  
                  
                  
                    <div class="cart-iitem-foot">
                      <div class="cart-item-quanity">
                        <p class="label">Quantity:</p>
                        <!-- data-ajax-cart-request-button ajaxifies the "Minus one" button -->
                        <a data-ajax-cart-request-button
                          href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >
                          <i class="fa-solid fa-minus"></i>
                        </a>
                        <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
                        <input data-ajax-cart-quantity-input="{{ item_index }}"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          type="number" />
                        <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
                        <a data-ajax-cart-request-button
                          href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}">
                          <i class="fa-solid fa-plus"></i>
                        </a>
                      </div>
                      
                                    <!-- Container for errors -->
                                    <div data-ajax-cart-messages="{{ item.key }}"></div>
                                    <div class="cart-total">
                      <p class="label">Total: </p>
                      <p>{{ item.final_line_price | money }}</p>
                                    </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="cart-empty"> 

                 <p> Sorry, no items in here.  <p> 

              </div> 
            {% endif %}


          </div>
        </div>
  
        <!-- data-ajax-cart-property-input ajaxifies the cart note textarea -->
        <!-- <textarea data-ajax-cart-property-input
          name="note"
          placeholder="Cart note">
          {{ cart.note }}
        </textarea> -->
  
        <!-- data-ajax-cart-static-element keeps the container unchanged
        when the cart and the surrounding HTML get updated -->
        
          <div class="cart-foot">

            <!-- <div class="fade"></div> -->
              <div data-ajax-cart-static-element class="my-cart__app-container"></div>
              <button type="submit" name="checkout" class="hero-btn">
                <p>Checkout - {{ cart.total_price | money_with_currency }} </p>
              </button>
              
                  </form> 
                  {% comment %} <img class="cart-logo" src=" {{ 'logo.svg' | asset_url }} " loading="lazy"  width="{{ image.width }}"height="{{ image.height }}" alt=""> {% endcomment %}
          </div>
 </div>
      









