<!-- option  -->



<div class="product-option-row">
    <label for="{% if type == 'select' %}select-{{ option.name}}{% endif %}"> {{ option.name }} </label> 


<div class="option-values">

    {% if type == 'select' %}

    <select name="{{ option_name }}" id="select-{{ option_name }}">
        {% for value in option.values %}
            <option value="{{ value }}">{{ value }}</option>
   
        {% endfor %}
    </select>

    {% else %}

        {% for value in option.values %}
            {% assign radio_id = 'option-' | append: option_name | append: '-' | append: value | handleize %}
            <div class="product-option">
                
                <input class="variant-radio" {% if forloop.index == 1 %} checked="checked" {% endif %} id="{{ radio_id }}" type="radio" name="{{ option_name }}" value="{{ value }}" {% if value == selected %}checked{% endif %}>
                <label for="{{ radio_id }}"> {{ value }} </label>
            </div>
        {% endfor %}
    {% endif %}
   




</div>
</div>