    <!-- 
    title:
    img: 
    url: 
-->

<div class="product-card">

   <div class="product-img">

    
    <a href="{{ product.url }}">
        <img src="{{ product.featured_image.src | img_url: 'master' }}" loading = 'lazy' width="auto" height="auto" alt="">
    </a>
   </div>

    

   

    <div class="product-info">
        {% if product.available %}
            
        {% if product.vendor != "hellomonty's" %}
                <div class="vendor-info ">
                    <div class="vendor-cell">
                        <p class="info-cell">{{ product.vendor }}</p>   
                    </div>
                    <div class="vendor-mark">
                    </div>
                  
                </div>

                {% endif %}

            <div class="product-info-text">

        
        
        

            <p class="info-cell"> {{ product.title }}</p>
               
            <div class="flex">
                {% if product.variants.size %}
                    <div class="flex">
                        {% for variant in product.variants %}
                            <p class="info-cell"> {{ variant.title }} </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                <p class="product-price info-cell"> {{ product.price | money_with_currency }}</p>
                
                        {% else %}
                
                         sold out
                
                        
                
                        {% endif %}
            </div>

    </div>


    
    <form class="mini-add-to-cart" method="post" action="/cart/add">

        {% if product.available %}

        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        
        <button class='btn'> <i class="fa-solid fa-plus"></i> </button>

        {% else %}

        <!-- <input type="disabled" value="Sold out" class="btn" /> --> sold out

        {% endif %}
   
      </form>

    
    </div>
    

    


</div>

