    <!-- 
    title:
    img: 
    url: 
-->

{% if product.available %}  


     

<div class="product-card">


    {% if product.vendor != "hellomonty's" %}

    <div class="makers-mark"></div>

    {% endif %}
    


    <div class="product-img">
            <a href="{{ product.url }}">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" loading = 'lazy' width="auto" height="auto" alt="">
            </a>


            <div class="img-tab">
                <p class="label">View Product</p>
            </div>
    </div>





    <div class="product-info">
        
        <div class="info-section">

            <div class='product-info-cell' > 
                <p class="label title-label">Title:</p>
                <p> {{ product.title }} </p>
            
            {% if product.vendor != "hellomonty's" %}

            <div class='product-info-cell' > 
                <p class="label">Label:</p>
                <p class="label"> {{ product.vendor }} </p>
            </div>

            {% endif %}
        
            </div>
   
            <div class='product-info-cell' >
                    <p class="label">Price:</p>
                    <p> {{ product.price | money_with_currency}} </p>
            </div>
            

                <!-- {% for option in product.options_with_values %}
                    {% if option.name != 'Title' %}
                    <div class="product-option cell">
                            <p class="product-option-label label" > {{ option.name }}: </p>
                                {% for value in option.values %}
                                    <p class="product-option">  {{ value }}</p>
                                {% endfor %}
                    </div>
                    {% endif %}
                           {% endfor %}
                     -->
               
            


            
        

        </div>


       

        <!-- <div class="info-section-two">
            <form class="mini-add-to-cart" method="post" action="/cart/add">

                {% if product.available %}
        
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    
                    <button class='btn'> <i class="fa-solid fa-plus"></i> </button>

                    {% else %}

                    <p class='sold-out-text' > sold out </p>
                    
                {% endif %}
        
        </form>

        </div> -->

    </div>




   

    
</div>

{% endif %}
    

    



