<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}
    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width" />
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
 
    
    <div id="content" class="content-load  animate__animated animate__fadeIn   "  >

      {% render 'header' collection: collection %}

      <div class="wrapper">
{{ content_for_layout }}
      </div>
      
    


    {% render 'footer' %}
    <div class="cart-continer">
        {% section 'my-cart' %}
    </div>
    

    <script type="application/json" data-ajax-cart-initial-state >
        {{ cart | json }}
      </script>
       
      <script type="module">
        import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
      </script>

</div>
</body>
</html>
