

<div class="spacer"></div>

<div class="collection-filters">

   <h1> {{ page.title }} </h1>
    {% for collection in collections %}
    
    <a class="collection-filter" href="{{ collection.url }}">
        <p class="label"> [ {{ collection.products_count }} ]  </p>
        
        {% if forloop.last %}
        <h2> {{ collection.title }} </h2>
        {% else %}
        <h2> {{ collection.title }},</h2>
        {% endif %}

    </a>
    
    {% endfor %}
</div>

<div class="product-page-grid">
    {% render 'strorefront-filters' %}
    <div class="main-product-grid">
    
    
        {% for product in collection.products %}
          {% if product.available %}
    
    
    
            {% render 'product-card'with {product: product , forloop: forloop } %}
    
           {% endif %}
        {% endfor %}
    
        </div>
</div>


    {% schema %}
    {
        "name" : "collections",
        "settings" : [] 
    }

    {% endschema %}

    {% stylesheet %}

    {% endstylesheet %}

    {% javascript %}

    {% endjavascript %}