





<div class="collection-filters">
    
   <div class="links">

    

    <div class="collections-title">  <div class="anchor-circle"> </div> <p > Collections </p></div>
    
    {% assign thisCollection = collection.title %}
    
    
    {% for collection in collections %}
    
    {% assign collectionSlice = collection.title | slice: 0 %}
        
        {% if collectionSlice != '*' %}
        
            {% if collection.title == thisCollection %}
            <div class=" active collection-main-link">
                <a class=" collection-filter" href="{{ collection.url }}">
                    <p class=""> {{ collection.title }} </p>
                    <p class="label count"> [ {{ collection.products_count }} ] </p> 
                </a>
            </div>
            {% else %}
            <div class="collection-main-link">
                <a class="collection-filter" href="{{ collection.url }}">
                    <p class=""> {{ collection.title }} </p>
                    <p class="label count"> [ {{ collection.products_count }} ] </p> 
                </a>
            </div>
            {% endif %}

        
        {% endif %}
        
    

    {% endfor %}

    
    </div>  


   
    <img src="{{ collection.image | img_url:'1700x1700' }}" alt="">


</div>
<div id="filters" ></div>

<div class="product-page-grid" >
    {% render 'strorefront-filters' %}
    <div class="main-product-grid">
    
        {%- paginate collection.products by 50 -%}
        {% for product in collection.products %}
          {% if product.available %}
    
    
    
            {% render 'product-card'with {product: product , forloop: forloop } %}
    
           {% endif %}
        {% endfor %}
        {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
        {%- endpaginate -%}
    
        </div>
        
</div>


 
{% schema %}
{
    "name" : "collections",
    "settings" : [] 
}

{% endschema %}

   