

<div class="spacer"></div>
<div class="scrolled-filters">

    {% for collection in collections %}

    <a class="collection-filter" href="{{ collection.url }}">
        
    
        {% if forloop.last %}
        <h2> {{ collection.title }} </h2>
        {% else %}
        <h2> {{ collection.title }}</h2>
        {% endif %}

        <p class="label"> [ {{ collection.products_count }} ]  </p>
    </a>

{%endfor%}

</div>

<div class="collection-filters">

   
    {% for collection in collections %}
    
    <div class="collection-main-link">
        <a class="collection-filter" href="{{ collection.url }}">
            
        
            {% if forloop.last %}
            <p> {{ collection.title }} </p>
            {% else %}
            <p> {{ collection.title }}</p>
            {% endif %}

            <p class="label"> [ {{ collection.products_count }} ]  </p>
        </a>
    </div>


    

    
    {% endfor %}
</div>


<div class="product-page-grid">
    {% render 'strorefront-filters' %}
    <div class="main-product-grid">
    
        {%- paginate collection.products by 50 -%}
        {% for product in collection.products %}
          {% if product.available %}
    
    
    
            {% render 'product-card'with {product: product , forloop: forloop } %}
    
           {% endif %}
        {% endfor %}
        {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
        {%- endpaginate -%}
    
        </div>
        
</div>


 
{% schema %}
{
    "name" : "collections",
    "settings" : [] 
}

{% endschema %}

   