
        
        <div class= "nav-space">
          <div class="nav-wrapper">

          

              <div class="nav-content">

                <div class="exit-cart">
                <i class="fa-solid fa-xmark"></i>
              </div>

                <div class="nav-module  ">


                    <div class="head-link-list">
                      {% for link in linklists.main-menu.links %}
 
                        {% if link.title == "Aotearoa Labels" %}
                          <a class="link-btn js-label-draw-btn" {% if link.active %} class="link-btn-active js-labels"{% endif %} ">
                            <p>{{ link.title }}
                            </p>

                          </a>
                        {% else %}
                          <a class="link-btn" {% if link.active %} class="link-btn-active"{% endif %} href="{{ link.url }}">
                            <p>{{ link.title }}
                            </p>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="link-btn cart-btn">


                      <p>Cart (
                        <span data-ajax-cart-bind-state="cart.item_count">

                          {{ cart.item_count }}
                        </span>
                        )</p>



                    </div>


                </div>

                {% render 'my-cart' %}

              </div>
          </div> 
        </div> 
      </div> 
        
            
          
        
        
        
 


<div class="footer">

  

  <div class="footer-top">
     

        <div class="email">
          <p class="label">Contact</p>
          <p> <a href="mailto:{{ 'social.links.email' |  t }} " target="_blank">  {{ 'social.links.email' |  t }}  </a> </p>
          <p>  {{ 'social.links.phone' |  t }} </p>
        </div>
      

      <div class="adress">
        <p class="label">Adress</p>
        <p> {{ 'social.links.adress' |  t }} </p>
        <p> {{ 'social.links.city' |  t }} </p>
      </div>

      <div class="social">
        <p class="label">Social</p>
        <p> <a href="{{ 'social.links.insta' |  t }}" target="_blank"> Instagram </a></p>
       
      </div>
        
      
  </div>
 

    <div class=" footer-bottom">
      
    <img class="foot-logo" src=" {{ 'logo.svg' | asset_url }} " loading="lazy"  width="{{ image.width }}"height="{{ image.height }}" alt=""> 

    </div>
</div>
</div>
</div>

  
  
  
 

   

      
      

