<!-- collection  -->

<div class="header ">
    <div class="header-top">
    
        {% if page.title == "Makers"  %}
                <div class="header-makers-mark animate__animated animate__slideInRight">
    
                </div> 
    
            {% elsif product.vendor and product.vendor != "hellomonty's" %}
    
                <div class="header-makers-mark animate__animated animate__slideInRight">
    
            </div> 
    
            {% elsif collection.title == "hand-made" %}
    
                <div class="header-makers-mark animate__animated animate__slideInRight">
    
            </div> 
            
        {% endif %}
    
      
        

        
            <a href="/"><img class="logo" src=" {{ 'logo.svg' | asset_url }} " loading="lazy"  width="{{ image.width }}"height="{{ image.height }}" alt=""></a> 
       
        
           
        
        <div class="version-mark">
            <p class="label"> V3 </p>
        </div>
        </div>
       

        




<div class="nav-wrapper">
    <div class="nav-content">
        <div class="nav-module">
        
        
            <div class="head-link-list">
                {% for link in linklists.main-menu.links %}
                <a class="link-btn" {% if link.active %} class="link-btn-active" {% endif %} href="{{ link.url }}"><h3>{{ link.title }}</h3></a>
                {% endfor %}
                </div>
                <div class="link-btn cart-btn">
        
        
                        <h3>Cart (
                        <span data-ajax-cart-bind-state="cart.item_count" >
        
                             {{ cart.item_count }}
                        </span>
                         )</h3>
        
        
        
                </div>
            </div>
        
            {% render 'my-cart' %}
            
        </div>
    </div>

</div>

