<div class="my-cart">
  <!-- sections/my-cart.liquid -->
  
  <form action="{{ routes.cart_url }}" method="post" class="my-cart">
      <!-- data-ajax-cart-section makes the element's HTML update
      when the cart gets changed -->
      <div data-ajax-cart-section>
        <h2>Cart</h2>
  
        <!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
        when the element's HTML is changed -->
        <div class="my-cart__items" data-ajax-cart-section-scroll>
          {% for item in cart.items %}
            {% assign item_index = forloop.index %}
            <hr />
            <div><a href="{{ item.url }}">{{ item.title }}</a></div>
  
            {% for property in item.properties %}
              <div>
                {{ property.first }}:
              </div>
            {% endfor %}
  
            <div>Price: {{ item.final_price | money }}</div>
  
            <div>
              Quantity:
              <!-- data-ajax-cart-request-button ajaxifies the "Minus one" button -->
              <a data-ajax-cart-request-button
                href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >
                Minus one
              </a>
  
              <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
              <input data-ajax-cart-quantity-input="{{ item_index }}"
                name="updates[]"
                value="{{ item.quantity }}"
                type="number" />
  
              <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
              <a data-ajax-cart-request-button
                href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}">
                Plus one
              </a>
            </div>
  
            <!-- Container for errors -->
            <div data-ajax-cart-messages="{{ item.key }}"></div>
  
            <div>Total: <strong>{{ item.final_line_price | money }}</strong></div>
          {% endfor %}
        </div>
  
        <!-- data-ajax-cart-property-input ajaxifies the cart note textarea -->
        <textarea data-ajax-cart-property-input
          name="note"
          placeholder="Cart note">
          {{ cart.note }}
        </textarea>
  
        <!-- data-ajax-cart-static-element keeps the container unchanged
        when the cart and the surrounding HTML get updated -->
        <div data-ajax-cart-static-element class="my-cart__app-container"></div>
  
        <button type="submit" name="checkout">
          Checkout — {{ cart.total_price | money_with_currency }}
        </button>
      </div>
    </form>
  
</div>


{% schema %}
{
    "name" : "my-cart",
    "settings" : [] 
}

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}





<!-- {% if cart.item_count > 0 %}
<form action="/cart" method="post" id="cart" class="cart">
    <table>
        <tr>
            <th class="item desc"></th>
            <th class="item price">Price</th>
            <th class="item qty">Quantity</th>
            <th class="item remove">Delete</th>
            <th class="item total">Total</th>
        </tr>
        {% for item in cart.items %}
        <tr id="cart-item-{{item.variant.id}}" class="cart-item">
            <td class="item desc"><a href="/collections/{{ item.product.collections.first.title | downcase }}#{{ item.product.handle }}">{{ item.title }}</a></td>
            <td class="item price">{{ item.price | money }}</td>
            <td class="item qty"><input type="text" size="4" pattern="[0-9]*" name="updates[{{item.variant.id}}]" id="quantity-{{ item.variant.id }}" class="quantity" value="{{ item.quantity }}" min="1" onfocus="this.select();"/></td>
            <td class="item remove"><a href="/cart/change/{{item.variant.id}}?quantity=0">Remove</a></td>
            <td class="item price">{{ item.line_price | money }}</td>
        </tr>
        {% endfor %}
        <tr class="subtotal">
            <td colspan="5">Total: <strong>{{ cart.total_price | money }}</strong></td>
        </tr>
        <tr class="actions">
            <td colspan="5">
                <input class="button" type="submit" id="update-cart" name="update" value="Update"  />
                <input class="button" type="submit" name="checkout" value="Checkout" />
            </td>
        </tr>
    </table>
</form>
{% else %}
<p>Your cart is empty!</p>
{% endif %} -->