

<div class="block-wrapper">

  <div class="vendor-block">

    <div class="slide-header">
       <div class="anchor-circle"></div>
          <p> Aotearoa Labels </p>
       </div>
    <div class="label-link-list" > 
     
      {% assign thisCollection = collection.title %}
        
        

      {% for collection in collections %}
         {% assign collectionSlice = collection.title | slice: 0 %}
           
          
          {% if collectionSlice == '*' %}

            {% if thisCollection == collection.title %}

            <div class='label-container '> 

                 <a> <p class="active" > {{ collection.title | remove_first: "*" }} </p>  </a> 
                <p class="label">  [ {{ collection.all_products_count }} ] </p>

              </div>

            {% else %}
         
              <div class='label-container '> 

                 <a href=" {{ collection.url }} "> <p class="" > {{ collection.title | remove_first: "*" }} </p>  </a> 
                <p class="label">  [ {{ collection.all_products_count }} ] </p>

              </div>

            {% endif %} 
            {% endif %} 

      {% endfor %}

     </div> 


    <ul>

</ul>

  </div>
</div>

