
 {% section 'card' %}


<div class="page-content">
  
   <div class="details">
        <div class="contact-section">
         
          <div class="email">
            <p class="label">Contact</p>
            <p><a href="mailto:{{ 'social.links.email' |  t }} " target="_blank">   {{ 'social.links.email' |  t }} <a> </p>
            <p> {{ 'social.links.phone' |  t }} </p>
          </div>
        </div>
  
        <div class="contact-section">
          <p class="label">Adress</p>
          <p> {{ 'social.links.adress' |  t }} </p>
          <p> {{ 'social.links.city' |  t }} </p>
        </div> 
  
        <div class="contact-section">
          <p class="label">Social</p>
          <p> <a href= "{{ 'social.links.insta' |  t }}" target="_blank"> Instagram </a> </p>
          
        </div>
           
        </div>
   
    <div class="content">
        <p class="label">
            About
        </p>
        {{ page.content }}
    </div>

</div>




