<script src="{{'product.js'|asset_url}}" defer="defer"></script> 

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>



<!--  
 {% for feild in product.metafields.custom.colour %}

    <p> {{ feild | metafield_text }}</p>

 {% endfor %} -->





 {% assign current_variant = product.selected_or_first_available_variant %}


   


    

<div class="product-page-wrapper">

  
  
    <div class="product-page-info">
      
        <div class="product-title">  <div class="anchor-circle"> </div> <p> {{ product.title }} </p></div>
        
        <p class="product-description">{{ product.description }}</p>
         
        
        <!-- metafields -->
        
       
       
      
     
    
         <div class="metafields">

          {% assign colour = product.metafields.custom.colour | metafield_text %}
          {% assign material = product.metafields.custom.material | metafield_text %}
          {% assign vendor = product.vendor  %}
          
          
          {% if vendor != "hellomonty's" %}
            <div class="single-metafield">
              <p class="metafield-title" > Label</p> <a href="/collections/vendors?q={{vendor}}"> <p>{{ vendor }}</p></a>

            </div>
          {% endif %}


          {% if colour != '' %}
            <div class="single-metafield  ">
                <p class="metafield-title" > Color</p>  <p>{{ colour }}</p>
            </div>
          {% endif %}
   
          {% if material != '' %}

            {% assign  materialStripped = material | remove:'and' %}
            {% assign  materialLines = materialStripped | replace:',','<br>' %}

            <div class="single-metafield ">
                <p class="metafield-title" > Material </p> <p>{{ materialLines }}</p>
            </div>
          {% endif %}

          
   
        </div>

        <!-- //---------------------------------------------------------------- -->
    
        
        
        {% render 'add-to-cart-form' with current_variant: current_variant  %}
        {% assign shipping = product.metafields.custom.shipping | metafield_text %}
        {% assign notes = product.metafields.custom.notes | metafield_text %}
    

     

    </div>
    
     <!--  Images  -->
     
       <div class="product-page-images">
          {% for image in product.images %}
              <div class="product-img">
                
                <img src="{{ image.src | product_img_url: 'large' }}"" width='500' height='auto'}>
                <div class="img-index label"> <p class="label img-count">{{ forloop.index }} / {{ forloop.length }}  </p> </div>
              </div>

          {% endfor %}


        

          
           </div>

           <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
          
              {% for image in product.images %}
                  <div class="swiper-slide">
              
                      
                      <img src="{{ image.src | product_img_url: 'large' }}" width='500' height='auto'}>
                      <div class="img-index label"> <p class="label img-count">{{ forloop.index }} / {{ forloop.length }}  </p> </div>
                    
                  </div>
              {% endfor%}
              
              
            </div>
            <!-- If we need pagination -->
            
          
            <!-- If we need navigation buttons -->
            <div class="swiper-btns">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          
            
          </div>
           


           


</div>




<div id="recommendations">
    
  {% section 'product-recommendations' %}

</div>     



<!-- related products -->



<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

  
  if(document.querySelector('.swiper')){
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  spaceBetween: 0,
  slidesPerView: 1.2 ,
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});

  }


  
</script>




  
