
 
<!--  
 {% for feild in product.metafields.custom.colour %}

    <p> {{ feild | metafield_text }}</p>

 {% endfor %} -->

 {% assign current_variant = product.selected_or_first_available_variant %}


   

<div class="spacer">

</div>
    

<div class="product-page-wrapper">
    <div class="product-page-info">
        <p class="product-title">{{ product.title }}</p>
        <p class="product-description">{{ product.description }}</p>
        <div class="metafeild-notes ">
          <p class="metafield-title" > Notes  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p> <p>{{ product.metafields.custom.notes | metafield_text }}</p>
      </div>
         <!-- metafields -->
    
         <div class="metafields">
    
          
            <div class="single-metafield  ">
                <p class="metafield-title" > Color</p>  <h5>{{ product.metafields.custom.colour | metafield_text }}</h5>
            </div>
   
            <div class="single-metafield ">
                <p class="metafield-title" > Material </p> <h5>{{ product.metafields.custom.material | metafield_text }}</h5>
            </div>

          
   
        </div>

        <!-- //---------------------------------------------------------------- -->
    
        
        
            {% render 'add-to-cart-form' with current_variant: current_variant  %}
            

    </div>
    
     <!--  Images  -->
     <div class="product-page-images">
        {% for image in product.images %}
            <div class="product-img">
              <div class="img-index "> <h5>{{ forloop.index }} </h5> </div>
              <img src="{{ image.src | product_img_url: 'large' }}"" width='500' height='auto'}>
            </div>
        {% endfor %}
    </div>
</div>


<!-- related products -->



  <div id="product-recommendations">
    {%- if recommendations.products_count > 0 -%}
      <h2>You may also like</h2>

      <ul>
        {%- for product in recommendations.products -%}
          <li class="grid__item small--one-half medium-up--one-quarter">
            <a href="{{ product.url }}">
              <span>{{ product.title }}</span>
              <span>{{ product.price | money }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  