<script src="{{'product.js'|asset_url}}" defer="defer"></script> 
 
<!--  
 {% for feild in product.metafields.custom.colour %}

    <p> {{ feild | metafield_text }}</p>

 {% endfor %} -->





 {% assign current_variant = product.selected_or_first_available_variant %}


   

<div class="spacer">

</div>
    

<div class="product-page-wrapper">
  
    <div class="product-page-info">
      
        <p class="product-title">{{ product.title }}</p>
        
        <p class="product-description">{{ product.description }}</p>
         
        
        <!-- metafields -->
        
       
       
      
     
    
         <div class="metafields">

          {% assign colour = product.metafields.custom.colour | metafield_text %}
          {% assign material = product.metafields.custom.material | metafield_text %}
          {% assign vendor = product.vendor  %}
          
          
          {% if vendor != "hellomonty's" %}
            <div class="single-metafield">
              <p class="metafield-title" > Label</p> <a href="/collections/vendors?q={{vendor}}"> <p>{{ vendor }}</p></a>

            </div>
          {% endif %}


          {% if colour != '' %}
            <div class="single-metafield  ">
                <p class="metafield-title" > Color</p>  <p>{{ colour }}</p>
            </div>
          {% endif %}
   
          {% if material != '' %}
            <div class="single-metafield ">
                <p class="metafield-title" > Material </p> <p>{{ material }}</p>
            </div>
          {% endif %}

          
   
        </div>

        <!-- //---------------------------------------------------------------- -->
    
        
        
        {% render 'add-to-cart-form' with current_variant: current_variant  %}
        {% assign shipping = product.metafields.custom.shipping | metafield_text %}
        {% assign notes = product.metafields.custom.notes | metafield_text %}
    

     

    </div>
    
     <!--  Images  -->
     
       <div class="product-page-images">
          {% for image in product.images %}
              <div class="product-img">
                <div class="img-index label"> <p class="label">{{ forloop.index }} / {{ forloop.length }}  </p> </div>
                <img src="{{ image.src | product_img_url: 'large' }}"" width='500' height='auto'}>
              </div>

              
          {% endfor %}

          
           </div>


</div>
<div id="recommendations">
    
  {% section 'product-recommendations' %}

</div>     


<!-- related products -->

<script>
  let atc = document.getElementById('add-to-cart-btn');


if( atc ){
	console.log('yep')
};
</script>




  
