
 
<!--  
 {% for feild in product.metafields.custom.colour %}

    <p> {{ feild | metafield_text }}</p>

 {% endfor %} -->

 {% assign current_variant = product.selected_or_first_available_variant %}


   

<div class="spacer">

</div>
    

<div class="product-page-wrapper">
    <div class="product-page-info">
        <p>{{ product.title }}</p>
        <h3>{{ product.description }}</h3>

         <!-- metafields -->
    
         <div class="metafields">
    
            <div class="single-metafield ">
                <h3 class="metafield-title"> Test</h3>  <h3>{{ product.metafields.custom.test | metafield_tag }}</h3>
            </div>
   
            <div class="single-metafield  ">
                <h3 class="metafield-title" > Color</h3>  <h3>{{ product.metafields.custom.colour | metafield_text }}</h3>
            </div>
   
            <div class="single-metafield ">
                <h3 class="metafield-title" > Material </h3> <h3>{{ product.metafields.custom.material | metafield_text }}</h3>
            </div>
   
        </div>

        <!-- //---------------------------------------------------------------- -->
    
        
        
            {% render 'add-to-cart-form' with current_variant: current_variant  %}
        

    </div>
    
     <!--  Images  -->
     <div class="product-page-images">
        {% for image in product.images %}
            <img src="{{ image.src | product_img_url: 'large' }}"" width='500' height='auto'}>
        {% endfor %}
    </div>
</div>


<!-- related products -->



  <div id="product-recommendations">
    {%- if recommendations.products_count > 0 -%}
      <h2>You may also like</h2>

      <ul>
        {%- for product in recommendations.products -%}
          <li class="grid__item small--one-half medium-up--one-quarter">
            <a href="{{ product.url }}">
              <span>{{ product.title }}</span>
              <span>{{ product.price | money }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  